AgentSupport.json
[{"createdAt":"2025-09-22T16:52:52.621Z","updatedAt":"2025-09-22T21:07:35.000Z","id":"zEj8155afRdDLagz","name":"Agent-IT-Support","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"https://airtable.com/appw838u7Tb7z7Ux5/tblv1R4c2nLKoH2bc/viwL4cR8njIeRwGRa?blocks=hide","mode":"url"},"tableId":{"__rl":true,"value":"https://airtable.com/appw838u7Tb7z7Ux5/tblv1R4c2nLKoH2bc/viwL4cR8njIeRwGRa?blocks=hide","mode":"url"},"triggerField":"Ticket ID","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-80,48],"id":"02d0590f-b7b2-4e0e-86b7-eeb27f54a4d4","name":"Airtable Trigger","credentials":{"airtableTokenApi":{"id":"W0hs082tVpXKXpTm","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are the IT Support Team's coordinator. Your task is to collect incomming information about new support tickets and produce a concise summary to email to the IT management .The email should be signed with \"IT Support Team.\"\nHere are the details of the support tickets:\nTicket ID:{{ $json.fields['Ticket ID'] }}\nUser:{{ $json.fields.Users }}\nIssue:{{ $json.fields.Issue }}\nPriority:{{ $json.fields.Priority }}\nDate Submitted:{{ $json.fields['Date Submitted'] }}\n\nPlease provide the following output parametres :\nEmail_subject\nEmail_content\nMake the content clean and with bullet points"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[192,32],"id":"0e02a9de-1058-4741-a0c8-008ec8f914a3","name":"Message a model","credentials":{"openAiApi":{"id":"eZDVIyY6RiKBI6sH","name":"OpenAi account"}}},{"parameters":{"sendTo":"moatez.kamounn@gmail.com","subject":"={{ $json.message.content.Email_subject }}","emailType":"text","message":"={{ $json.message.content.Email_content }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[592,0],"id":"54b27d27-e603-4bb7-be8a-adf46b8dfeb3","name":"Send a message","webhookId":"5288b611-39d3-4eef-b2c7-b7181539c3fc","credentials":{"gmailOAuth2":{"id":"1wtLBRuNzdwv1nXY","name":"Gmail account"}}}],"connections":{"Airtable Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9fd6ef9a-0032-43e6-be7e-746bcf50cb4b","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-09-22T16:52:52.628Z","updatedAt":"2025-09-22T16:52:52.628Z","role":"workflow:owner","workflowId":"zEj8155afRdDLagz","projectId":"MaAmNegzsqPvazrH","project":{"createdAt":"2025-09-16T10:58:50.937Z","updatedAt":"2025-09-16T10:59:23.724Z","id":"MaAmNegzsqPvazrH","name":"Moatez Kamoun <moatez.kamounn@gmail.com>","type":"personal","icon":null,"description":null}}]}]